{
  "extends": "urbica/react",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-confusing-arrow": [0],
    "react/forbid-prop-types": [1, { "forbid": ["any", "array"] }]
  }
}
